<div class="container">
  <div>
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar-nav-fixed" style="position: fixed; left: 0px;">
          <div class="well">
            <ul class="nav ">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a>
              </li>

            </ul>
          </div>
          <!--/.well -->
        </div>
        <!--/sidebar-nav-fixed -->
      </div>
      <!--/span-->
      <div class="col-md-6">
        <div class="centered text-center">
          <h1>
            Recruiting Card Game
          </h1>
          <app-result></app-result>
        </div>

      </div>
      <!--/span-->
      <div class="col-md-3">
        <div class="sidebar-nav-fixed" style="position: fixed; right: 0px;">
          <app-rules></app-rules>
          <!--/.well -->
        </div>
        <!--/sidebar-nav-fixed -->
      </div>
      <!--/span-->
    </div>
    <!--/row-->

    <footer>
      <app-console-log class='footer'></app-console-log>
      <app-questions class='footer'></app-questions>
    </footer>
  </div>
</div>
<!--/.fluid-container-->